@model IPagedList<AlexeyRomero_Tarea1_PrograAvanzada.Models.Employee>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Alexey's 1st Assignment";
}

<h1>Employee Directory</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entity in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => entity.Id)</td>
                <td>@Html.DisplayFor(modelItem => entity.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => entity.LastName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@entity.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@entity.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@entity.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
